.reveal blockquote {
    font-family: 'Yellowtail';
    font-style: normal;
    font-size: 2em;
    text-align: left;
    box-shadow: none;
    background: transparent;
}

.reveal section img {
    border: none;
    box-shadow: none;
    background: transparent;
}

.reveal blockquote footer::before {
    content: "— "
}

.reveal blockquote footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.4em;
    text-align: right;
    font-weight: bold;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

.reveal h1 {
    text-transform: none;
}

.reveal h3 {
    font-family: 'Yellowtail';
}

.reveal h1 small {
    font-size: 0.31em;
}

.reveal h1 > small {
    display: block;
    margin-left: 2em;
    text-align: left;
    margin-top: 0.5em;
}

.reveal p {
    margin: 1.3em 0;
}

.reveal .left {
    text-align: left;
    margin-left: 5em;
}

.reveal .slides section .fragment.exit,
.reveal .slides section .fragment.visit,
.reveal .slides section .fragment.enter,
  opacity: 1;
  visibility: visible; }
  .reveal .slides section .fragment.de-highlight-red {
  color: #ff2c2d;
  opacity: 1;
  visibility: visible; }
.reveal .slides section .fragment.de-highlight-green {
  color: #17ff2e;
  opacity: 1;
  visibility: visible; }
.reveal .slides section .fragment.de-highlight-blue {
  color: #1b91ff;
  opacity: 1;
  visibility: visible; }
.reveal .slides section .fragment.de-highlight-red.visible,
.reveal .slides section .fragment.de-highlight-green.visible,
.reveal .slides section .fragment.de-highlight-blue.visible {
    color: initial;
}
.reveal .slides section .fragment.enter {
  display: none; }
.reveal .slides section .fragment.enter.visible {
  display: initial; }
.reveal .slides section .fragment.visit {
  display: none; }
.reveal .slides section .fragment.visit.current-fragment {
  display: initial; }
.reveal .slides section .fragment.exit {
  display: initial; }
.reveal .slides section .fragment.exit.visible {
  display: none; }

.icons i.fa {
    font-size: 4em;
    padding: .1em;
}

.reveal .slides section .green {
    color: #17ff2e; }
.reveal .slides section .blue {
    color: #1b91ff; }
